* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.m_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
    font-family: sans-serif;
    background-color: rgb(167, 173, 185);
}

.box {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
}


#conteudo, #m_cifrada{
    width: 15rem;
    padding: 3px;
}

#botao{
    padding: 3px;
    margin-left: 10px;
}

#cifrado, #decifrado {
    width: 20rem;
    height: auto;
    margin: 1px;
    padding: 3px;
    color: rgb(82, 82, 82);
    border: 1px rgb(184, 184, 184);
    border-style: solid;
    background-color: rgb(228, 228, 228);
    border-radius: 3px;
}

.result_container {
    display: flex;
    cursor: pointer;
}

.result_container img{
    width: 25px;
    padding: 2px;
}

@media (max-width:600px) {
    #cifrado, #decifrado {
        width: 80%;
       
    }
    
}